{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  {% block content %}
        <h2>You Have Been Logged Out </h2>
        <div class="border-top pt-3">
            <small class="text-muted"> 
                <a  href="{% url 'account:login' %}">Log In Again</a>
            </small> 
        </div>

{% endblock content %}
</html>